<% if object.errors.any? %>
<div class="errors" >
    <p><%= object.errors.count%>個のエラー</p>
    <ul>
        <% object.errors.full_messages.each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
</div>
<% end %>