<% provide(:title, "about")%>

<h1>福祉.netとは</h1>
<p>福祉.netでは、利用したい福祉サービスの情報を集めることができます!!</p>
<p>あなたのニーズに沿ったサービスを選ぶ機会を提供します</p>
<p>気になるサービスの活動情報をチエック！</p>
<p>また、アカウントを作成すると、気に入ったサービスの情報を追加、周りへ共有ができます！</p>
<p>お気に入りへの追加、共有は活動の応援にもつながります！いいなと思った活動はシェアしてみよう！</p>    


