<% provide(:title, "about")%>

<div class="about">
    <h1>福祉.netとは？</h1>
    <p>福祉.netでは、利用したい福祉サービスの情報を集めることができます!!</p>
    <p>気になる情報を探して、ニーズに沿ったサービスを見つけることができます</p>
    <p>アカウントを作成すると、お気に入り機能が使用できるようになります。</p>
    <p>お気に入りに追加すると、活動の応援にもつながります！</p>
    <p>いいなと思った活動はお気に追加してみましょう！</p>  
</div>  


