<% provide(:title, "about")%>

<div class="about">
    <h1>福祉.netとは？</h1>
    <p>福祉.netでは、利用したい福祉サービスの情報を集めることができます!!</p>
    <p>気になるサービスの活動情報をチエックして、自分のニーズに沿ったサービスを見つけよう</p>
    <p>また、アカウントを作成すると、気に入ったサービスの情報を、周りへ共有できます！</p>
    <p>お気に入りへ追加し共有すると、活動の応援にもつながります！いいなと思った活動はお気に追加してみよう！</p>  
</div>  


