<% if logged_in? %>
    <div>
        <h1 class="posts_index">< 投稿一覧 ></h1>
        <%= render 'shared/post_items' %>
    </div>
<% else %>
    <h1>Let's start 福祉.net!!</h1>
    <div >
        <p >Welcome To The 福祉.net!</p>
        <p >福祉.netで、利用したい福祉サービスを探そう!!</p>
    </div>
    <%# <div>= link_to "個人アカウントの新規登録はこちらから", "#"</div> %>
    <div><%= link_to "アカウントの新規登録はこちらから", signup_path %></div>
    <div><%= link_to "ログインはこちらから", login_path%></div>
<% end %>
