

<h1>Let's start 福祉.net!!</h1>
<div >
    <p >Welcome To The 福祉.net!</p>
    <p >福祉.netで、利用したい福祉サービスを探そう!!</p>
</div>
<div><%= link_to "個人アカウントはこちらから", "#"%></div>
<div><%= link_to "企業アカウントはこちらから", signup_path %></div>
