@import "bootstrap-sprockets";
@import "bootstrap";
li {
    list-style-type: none;
}
header{
    background-color: aquamarine;
}

.form {
    display: flex;
    flex-flow: column;
    .form_title{
        margin-bottom: 5px;
    }
    .form_content{
        margin-bottom: 5px;
    }
    .form_image{
        margin-bottom: 5px;
    }
    .image{
        display: inline-flex;
    }
}


.errors {
    border: solid;
    font-size: 15px;
    color: rgb(170, 1, 1);
    background: #111111;
}

.flash {
    border: dotted;
    font-size: 15px;
}

//_post.html/erb
.post{
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px 0px;
    padding-left: 0;
    width: 500px;
    text-align: left;
    border: solid;
    .name {
        text-align: center;
    }
    .title{
        text-align: center;
        border-bottom: solid;
        margin: 0 100px;
        font-size: 50px;
    }
    .image{
        text-align: center;
        margin: 10px 0;
    }
    .content{
        font-size: 20px;
        padding-left: 10px;
        background-color: pink;
    }

}

.users{
    border: solid 3px;
    border-radius: 10px;
    width: fit-content;
    padding: 20px 30px;
    margin: 10px auto;
}
.top_profile{
    border: solid;
    margin: 0 300px;
}
.profile{
    text-align: left;
    // border: solid 3px;
    // border-radius: 10px;
    width: fit-content;
    padding: 0 20px 10px 5px;
    margin: 0 auto 10px 5px;
    display: grid;
    grid-template-areas: "a a . . "
                        "a a b b"
                        "a a c c "
                        "a a . ."
                        "a a . .";
    .icon{
        border-radius: 30px;
        border: solid;
        grid-area: a;
    }
    .name {
        margin-left: 10px;
        text-align: left;
        grid-area: b;
        font-size: 20px;
    }
    .email{
        grid-area: c;
        font-size: 20px;
        margin-left: 10px;
        text-align: left;
    }

}

.posts_index{
    font-size: large;
    margin-top: 50px;
}