@import "bootstrap-sprockets";
@import "bootstrap";
li {
    list-style-type: none;
}
header{
    background-color: aquamarine;
}

.form {
    display: flex;
    flex-flow: column;
}

.errors {
    border: solid;
    font-size: 15px;
    color: rgb(170, 1, 1);
    background: #111111;
}

.flash {
    border: dotted;
    font-size: 15px;
}